<section class='content white-bg'>
  <h3 class='title dark-purple text-center'>Beauty on tap</h3>
  <div class='row justify-content-center'>
    <div class='col-sm-12 col-md-8 col-lg-6 mb-4'>
      <div class="videoWrapper lift-shadow">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/2bwT830aeMs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
<section class='content d-flex flex-column justify-content-between light-gray-bg'>
  <div class="d-flex flex-row justify-content-between align-items-center">
    <div class="text-center width-220">
      <span>Capital raised</span><br>
      <span class='huge-number dark-purple'>2M+</span>
    </div>
    <div class="text-center width-220">
      <span>Clients on Platform</span><br>
      <span class='huge-number dark-purple'>200k</span>
    </div>
    <div class="text-center width-220">
      <span>Registered professionals</span><br>
      <span class='huge-number dark-purple'>25k</span>
    </div>

  </div>
  <div class="d-flex flex-row justify-content-between align-items-center">
    <div class="text-center width-220">
      <span>Growth</span><br>
      <span class='huge-number dark-purple'>1000%</span>
    </div>
    <div class="text-center width-220">
      <span>Countries</span><br>
      <span class='huge-number dark-purple'>4</span>
    </div>
    <div class="text-center width-220">
      <span>Major US Cities</span><br>
      <span class='huge-number dark-purple'>6</span>
    </div>
  </div>
</section>
