<section class='content white-bg'>
  <h3 class='title dark-purple text-center'>Beauty on tap</h3>
  <div class='row justify-content-center'>
    <div class='col-sm-12 col-md-8 col-lg-6 mb-4'>
      <div class="videoWrapper lift-shadow">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/2bwT830aeMs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
