<section class='content argument-section light-gray-bg'>
  <h2 class='text-center mb-4'><b>Invest in VyB</b></h2>
  <hr>
  <div class="d-flex flex-row flex-wrap justify-content-between align-items-center">
   <div class="p-3">
      <p></p>
    </div>
    <div class="card argument-card p-3">
      <div class="other-business-img m-auto" style='background-image: url("<%= image_url 'btc_wallet_qr.png' %>")'></div>
      <span class='text-center'><b>ETH wallet address:</b> 0x42a27172Db69eF2E5ADF95C7A8e2608Ea533c3f9</span>
    </div>

    <div class="card argument-card highlighted p-3">
      <div class="other-business-img m-auto" style='background-image: url("<%= image_url 'vybLogo.png' %>")'></div>
    </div>

    <div class="card argument-card p-3">
      <div class="other-business-img m-auto" style='background-image: url("<%= image_url 'eth_wallet_qr.png' %>")'></div>
      <span class='text-center'><b>BTC wallet address:</b> 32uoZPZpoJio5A8RCLiyzWgHcPByvoDVwZ</span>
    </div>
    <div class="p-3">
      <p></p>
    </div>
  </div>
</section>

<!-- ETH wallet address: 0x42a27172Db69eF2E5ADF95C7A8e2608Ea533c3f9 -->
<!-- BTC wallet address: 32uoZPZpoJio5A8RCLiyzWgHcPByvoDVwZ -->