<section class='content argument-section light-gray-bg'>
  <h3 class='text-center mb-4' >VyB is Disrupting Multiple Prominent Industries</h3>
  <div class="d-flex flex-row flex-wrap justify-content-between align-items-center">
    <div class="card argument-card p-3">
      <div class="other-business-img m-auto" style='background-image: url("<%= image_url 'hospital.png' %>")'></div>
      <span class='text-center'><b>Doctors</b> rely on the <b>patient's</b> feedback.</span>
    </div>
    <div class="card argument-card p-3">
      <div class="other-business-img m-auto" style='background-image: url("<%= image_url 'yelp.png' %>")'></div>
      <span class='text-center'>The world's largest feedback company, <b>entirely community driven</b></span>
    </div>
    <div class="card argument-card highlighted p-3">
      <div class="other-business-img m-auto" style='background-image: url("<%= image_url 'vybLogo.png' %>")'></div>
      <span class='text-center white'>Receiving data from multiple channels <b>to create a holistic metric.</b></span>
    </div>
    <div class="card argument-card p-3">
      <div class="other-business-img m-auto" style='background-image: url("<%= image_url 'uber.jpg' %>")'></div>
      <span class='text-center'>Uses a feedback and performance rating in <b>every user workflow.</b> </span>
    </div>
  </div>
</section>
