<section class='content argument-section light-gray-bg'>
  <h3 class='text-center mb-4' >VyB can be integrated in products we already know and love</h3>
  <div class="d-flex flex-row flex-wrap justify-content-between align-items-center">
    <div class="card argument-card p-3">
      <div class="other-business-img m-auto" style='background-image: url("<%= image_url 'alibaba.png' %>")'></div>
      <span class='text-center'>The most valuable retailer, <b>has no inventory.</b></span>
    </div>
    <div class="card argument-card p-3">
      <div class="other-business-img m-auto" style='background-image: url("<%= image_url 'uber.jpg' %>")'></div>
      <span class='text-center'>The world's largest taxi company, <b>relies heavily on feedback</b></span>
    </div>
    <div class="card argument-card highlighted p-3">
      <div class="other-business-img m-auto" style='background-image: url("<%= image_url 'white_logo.png' %>")'></div>
      <span class='text-center white'>Fastest growing on-demand beauty company, <b>freelance driven.</b></span>
    </div>
    <div class="card argument-card p-3">
      <div class="other-business-img m-auto" style='background-image: url("<%= image_url 'airbnb.png' %>")'></div>
      <span class='text-center'>Largest accomodation provider, <b>owns no real estate.</b> </span>
    </div>
  </div>
</section>
