<section class='content white-bg '>
  <div class="row">
    <div class="col-md-8 offset-md-2 ">
      <blockquote>
        <h2 class='text-center'>
        A rating system for your social interactions. You get unbiased feedback broken down by the interaction that makes up your cumulative score - Uber, Tinder, Yelp, LinkedIn all need this to integrate this!         </h2>
      </blockquote>
    </div>
  </div>
  <div class="text-center">
    <%= link_to 'Join the Telegram Group', "https://t.me/joinchat/IeFimg9TGHwplcgYojTMYg", target: :_blank, class: 'telegram btn royal-blue-btn btn-lg' %>
  </div>
  <br>
  <hr>
  <br>
  <h4 class='text-center text-uppercase'>The Problem</h4>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-4">
      <div class="gray-card reveal-card-left">
        <div class="icon-box">
          <i class='ion-unlocked'></i>
        </div>
        <h5 class='royal-blue'>Broken Trust</h5>
        <p>
        Absence of truth and accuracy conveyed through social media and dating platforms.     
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <div class="gray-card reveal-card-up">
        <div class="icon-box">
          <i class='ion-ios-camera'></i>
        </div>
        <h5 class='royal-blue'>Lost Social Cues</h5>
        <p>
        Unrewarded excellence and unaccounted misbehavior, in all industries and settings.
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <div class="gray-card reveal-card-right">
        <div class="icon-box">
          <i class='ion-earth'></i>
        </div>
        <h5 class='royal-blue'>The Disconnect</h5>
        <p>
        The disconnect between our digital representation of ourselves and the way we live our actual lives.
        </p>
      </div>
    </div>
  </div>
  <br>

  <h4 class='text-center text-uppercase'>The Solution</h4>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-4">
      <div class="gray-card reveal-card-left">
        <div class="icon-box">
          <i class='ion-ios-people'></i>
        </div>
        <h5 class='royal-blue'>Consistency</h5>
        <p>
        Unbiased representation of how society portrays you in real life, Social Accountability.
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <div class="gray-card reveal-card-up">
        <div class="icon-box">
          <i class='ion-ios-cloud'></i>
        </div>
        <h5 class='royal-blue'>Big Data Analysis</h5>
        <p>
        99% of the World's data was produced in the last 3 years. Using various data sources, we can paint and accurate and true picture. 
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <div class="gray-card reveal-card-right">
        <div class="icon-box">
          <i class='ion-clipboard'></i>
        </div>
        <h5 class='royal-blue'>Social Accountability</h5>
        <p>
        Bridging the gap between digital interaction and real world socialization to promote social accountability.
        </p>
      </div>
    </div>
  </div>
  <br>


  <div class="text-center">
    <%= link_to 'Solve the problem with us', "mailto:info@myvyb.io", target: '_blank', class: 'join-ico btn turquoise-btn btn-lg' %>
  </div>
</section>