<section class='features-section'>
  <div class="title-bar features">
    <h3 class='title white m-0'>Features</h3>
  </div>
  <section class='features-box'>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="blue-card reveal-card-left">
          <div class="icon-box">
          </div>
          <h5 class='ultra-turquoise'>Easy Transparency</h5>
          <p>For the first time, users will be able to see how they are truly viewed. VyB will create a seamless profile and experience over social media, and in real interactions. Utilizing the Blockchain, VyB scores will not only be transparent, they will be decentralized amongst all users and immutable mitigating possible corruption.</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="blue-card reveal-card-right">
          <div class="icon-box">
          </div>
          <h5 class='ultra-turquoise'>Simple and Efficient</h5>
          <p>The VyB score, a score out of '5.00' will be simple and efficient. While the algorithms creating the score are complex and mathematically sophisticated, the entire world will be able to understand the difference between a lower and a higher score. As such, VyB will be able to help create a universal metric that any individual can understand.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="blue-card reveal-card-left">
          <div class="icon-box">
          </div>
          <h5 class='ultra-turquoise'>Easy to Integrate</h5>
          <p>We live in a world that asks feedback all around us. Whether at the end of an Uber ride or sometimes during dinner at a restaurant - service providers are seeking feedback. VyB will be efficiently integrated in existing workflows to create a single source of truth for feedback. One's VyB score will visible on social media, dating sites, and more!</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="blue-card reveal-card-right">
          <div class="icon-box">
          </div>
          <h5 class='ultra-turquoise'>VyB for Business</h5>
          <p>VyB will be able to be used in the workplace and will substitute the "Performance Reviews" that many employers seek. VyB for Business will revolutionize how feedback is conveyed in the workplace, ultimately increasing performance, productivity and the organizational growth. Every employer wants to hire credible employees, and VyB is the solution.</p>
        </div>
      </div>
    </div>


  </section>

</section>