<section class='features-section'>
  <div class="title-bar features">
    <h3 class='title white m-0'>Features</h3>
  </div>
  <section class='features-box'>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="blue-card reveal-card-left">
          <div class="icon-box">
            <%= image_tag 'piggy_bank.png', class: 'piggy' %>
          </div>
          <h5 class='ultra-turquoise'>More beauty rewarding for everyone</h5>
          <p>ManeStreem currently connects 15,000 providers in 22 cities to more than 150,000 delighted customers all through a simple, smart app platform. It’s on-demand fashion that is easy to understand, full of honest reviews, and can make anyone feel and look like a celebrity.</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="blue-card reveal-card-right">
          <div class="icon-box">
            <%= image_tag 'mesh.png', class: 'mesh' %>
          </div>
          <h5 class='ultra-turquoise'>Tokens ready for growth</h5>
          <p>ManeStreem continues to expand our roster of partners and suppliers, including new luxury brands and names. As we grow through ManeCoins token sales, we’ll leverage funds to increase these relationships and expand the value of our brand and our tokens.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="blue-card reveal-card-left">
          <div class="icon-box">
            <%= image_tag 'tokens.png', class: 'token' %>
          </div>
          <h5 class='ultra-turquoise'>Rewards for customers and brands</h5>
          <p>By providing a high-volume ManeCoin at a stable, low value, we are empowering brands to be able to establish rapport with consumers and service providers. ManeStreem will help brands advertise and grow their presence, while customers receive tokens and can eventually exchange them for new services.</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="blue-card reveal-card-right">
          <div class="icon-box">
            <%= image_tag 'scissors.png', class: 'scissors' %>
          </div>
          <h5 class='ultra-turquoise'>Supporting in-demand professionals</h5>
          <p>Beauty and health professionals use ManeCoins to advertise their services on our platform, buying directly from us. That’s the only cut we take. When a customer pays for their service, the professional gets full payments less any credit card processing fees. Providers can keep their service prices low and use us as an alternative to traditional advertising costs.</p>
        </div>
      </div>
    </div>



  </section>

</section>
