<section class='content white-bg'>
  <div class='row justify-content-center'>
    <div class='d-flex justify-content-start justify-sm-content-around'>
      <%= link_to 'Join Newsletter', "https://fs27.formsite.com/jXj1Rk/form2/index.html", class: 'join-ico btn turquoise-btn mr-3 btn-lg' %>
      <%= link_to 'Follow us on Instagram', "https://www.instagram.com/myvyb.io/", target: :_blank, class: 'd-none d-sm-block telegram btn royal-blue-btn btn-lg' %>
    </div>
  </div>
</section>
