<section class='roadmap-section'>
  <div class="title-bar roadmap">
    <h3 class='title white m-0'>Roadmap</h3>
  </div>
  <section class='roadmap'>
    <ul class="timeline no-style break-containment">
      <li class="event">
        <h3>Q1 | Q2 2015</h3>
        <p>
          <ul>
            <li>
              <span class='thick-text'>January</span>
              <ul>
                <li>Designed and tested proof of concept</li>
              </ul>
            </li>

            <li>
              <span class='thick-text'>February</span>
              <ul>
                <li>Developed 3 member provider growth team</li>
              </ul>
            </li>

            <li>
              <span class='thick-text'>June</span>
              <ul>
                <li>Submitted beta version for iOS testing</li>
                <li>Version 1.0 User app accepted to the iOS app store</li>
                <li>Version 1.0 Provider app accepted to the iOS app store</li>
              </ul>
            </li>

          </ul>
        </p>
      </li>
      <li class="event">
        <h3>Q3 | Q4 2015</h3>
        <p>
          <ul>
            <li>
              <span class='thick-text'>October</span>
              <ul>
                <li>Soft Launch Phase</li>
              </ul>
            </li>

            <li>
            <span class='thick-text'>  November</span>
              <ul>
                <li>Reached 200 active providers, 300 pending providers</li>
                <li>2,000 downloads</li>
              </ul>
            </li>

            <li>
              <span class='thick-text'>December</span>
              <ul>
                <li>Service Providers in 22 states out of 50</li>
                <li>Android Provider app launch 1.0</li>
              </ul>
            </li>
          </ul>
        </p>
      </li>
      <li class="event">
        <h3>Q1 | Q2 2016</h3>
        <p>
          <ul>
            <li>
              <span class='thick-text'>January</span>
              <ul>
                <li>Launched Android User version 1.0</li>
              </ul>
            </li>

            <li>
              <span class='thick-text'>February</span>
              <ul>
                <li>Advanced Scheduler Completion</li>
              </ul>
            </li>

            <li>
              <span class='thick-text'>March</span>
              <ul>
                <li>750 active providers</li>
                <li>Launched laser focused  Instagram and Facebook  campaign</li>
                <li>Re-design UI</li>
                <li>Hard Launch Phase (Tech & Marketing)</li>
              </ul>
            </li>
            <li>
              <span class='thick-text'>May</span>
              <ul>
                <li>12,000 Downloads</li>
                <li>75% MOM transaction growth</li>
              </ul>
            </li>
            <li>
              <span class='thick-text'>June</span>
              <ul>
                <li>100% MOM growth</li>
              </ul>
            </li>

          </ul>
        </p>
      </li>
      <li class="event">
        <h3>Q3 | Q4 2016</h3>
        <p>
          <ul>
            <li>
              <span class='thick-text'>July</span>
              <ul>
                <li>1,500 Active Providers</li>
              </ul>
            </li>

            <li>
              <span class='thick-text'>August</span>
              <ul>
                <li>Social Media integration</li>
                <li>Soft launch in NYC</li>
              </ul>
            </li>

            <li>
              <span class='thick-text'>September</span>
              <ul>
                <li>Launch of Website 2.0 with live booking feature</li>
              </ul>
            </li>
            <li>
              <span class='thick-text'>November</span>
              <ul>
                <li>Android V2 Launch</li>
              </ul>
            </li>
            <li>
              <span class='thick-text'>December</span>
              <ul>
                <li>Soft Launch in Southern Florida</li>
              </ul>
            </li>
          </ul>
        </p>
      </li>

      <li class="event">
        <h3>Q1 | Q2 2017</h3>
        <p>
          <ul>
            <li>
              <span class='thick-text'>January- March</span>
              <ul>
                <li>ManeStreem +Plus Soft Launch</li>
              </ul>
            </li>
            <li>
              <span class='thick-text'>February</span>
              <ul>
                <li>Provider marketing campaign launched in three major markets</li>
              </ul>
            </li>
            <li>
              <span class='thick-text'>March</span>
              <ul>
                <li>Execution of Social Influencer marketing campaign</li>
                <li>Product Sales integration via website</li>
              </ul>
            </li>
          </ul>
        </p>
      </li>

      <li class="event">
        <h3>Q3 | Q4 2017</h3>
        <p>
          <ul>
            <li>
              <span class='thick-text'>July</span>
              <ul>
                <li>PHL, Streem X soft launch.</li>
              </ul>
            </li>
            <li>
              <span class='thick-text'>August</span>
              <ul>
                <li>MIA, Streem X soft launch.</li>
                <li>PHL, Streem X hard launch </li>
                <li>Launch Hotel Initiative</li>
              </ul>
            </li>
            <li>
              <span class='thick-text'>September</span>
              <ul>
                <li>NYC, Streem X soft launch</li>
                <li>MIA,Streem X hard launch</li>
                <li>Launch V3 of app</li>
              </ul>
            </li>
            <li>
              <span class='thick-text'>October</span>
              <ul>
                <li>LA, Streem X soft launch</li>
                <li>NYC, Streem X</li>
              </ul>
            </li>
          </ul>
        </p>
      </li>
      <li class="event">
        <h3>Q1 | Q2 2018</h3>
        <p>
          <ul>
            <li>
              <span class='thick-text'>Q1</span>
              <ul>
                <li>International Soft launch</li>
                <li>Product Sales Integration</li>
                <li>Beauty MBA Launch</li>
                <li>500,000 Providers</li>
              </ul>
            </li>
            <li><span class='thick-text'>Q2</span>
              <ul>
                <li>Product Sales integrations</li>
                <li>In app advertising (Sponsorships)</li>
                <li>International Hotel Strategy roll out</li>
              </ul>
            </li>
          </ul>
        </p>
      </li>
    </ul>
  </section>
</section>
