<div class="title-bar team white-bg">
  <h3 class='title m-0 black'>Team</h3>
</div>

<section class='team purple-to-blue-bg'>
  <div class='row'>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
      <div class="card border-0 mb-3">
        <div class="team-img" style='background-image: url("<%= image_url 'mason.png' %>")'></div>
        <div class="card-body">
          <span class='team-member-name mb-2 dark-purple'>Mason Cohen - CEO</span>
          <p class="team-member-description">
            “Good vibes plus good energy equals a good life.”
            <br>
            <br>
            Mason Cohen is the seventeen year old CEO and co-founder of VyB. Mason is a consummate entrepreneur and business visionary. As the president of his graduating class, Mason co-founded the Future Enterprisers Club of HMHS. Mason is an out-of-the-box thinker and leader who finds creative solutions to everyday problems.
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
      <div class="card border-0 mb-3">
        <div class="team-img" style='background-image: url("<%= image_url 'adit.png' %>")'></div>
        <div class="card-body">
          <span class='team-member-name mb-2 dark-purple'>Adit Gupta - CTO</span>
          <p class="team-member-description">
            “7 billion people in the world. Everyone has a unique VyB. Now, we can quantify it.”
            <br>
            <br>
            Adit Gupta is the twenty year old CTO and co-founder of VyB. He is in his fourth year at Drexel University, studying Software Engineering and Mathematics. Adit is highly regarded throughout many industries as a public speaker, entrepreneur and mentor. With professional experiences, working with brands including Microsoft, SAP, CHOP, Comcast Corporation, and Susquehanna International Group LLC. in various technology and innovation related roles, Adit has a diverse and comprehensive understanding of industry and strives for technological advances.
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
      <div class="card border-0 mb-3">
        <div class="team-img" style='background-image: url("<%= image_url 'nico.png' %>")'></div>
        <div class="card-body">
          <span class='team-member-name mb-2 dark-purple'>Nico Cohen - President</span>
          <p class="team-member-description">
            “VyB makes the digital world just a little less two-dimensional.”
            </br>
            <br>
            With the clean cut charm of a boy band front man, Nico Cohen is the sixteen year old president and co-founder of VyB. Nico is a tech savvy, business minded leader that attacks every day with a positive, can-do attitude. Having entered the workforce at just ten years old, Nico quickly rose to the rank managing sales trainer. Nico’s positive energy and optimistic outlook are as infectious as his charming smile.
          </p>
        </div>
      </div>
    </div>


    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
      <div class="card border-0 mb-3">
        <div class="team-img" style='background-image: url("<%= image_url 'kevin.png' %>")'></div>
        <div class="card-body">
          <span class='team-member-name mb-2 dark-purple'>Kevin Patrick - COO</span>
          <p class="team-member-description">
            "Don't dream it, live it"
            <br>
            <br>
            Kevin is a successful entrepreneur with 15+ years of business experience.
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
