<div class="title-bar team white-bg">
  <h3 class='title m-0 black'>Team</h3>
</div>

<section class='team purple-to-blue-bg'>
  <div class='row'>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <div class="card border-0 mb-3">
        <div class="team-img" style='background-image: url("<%= image_url 'mason.png' %>")'></div>
        <div class="card-body">
          <span class='team-member-name mb-2 dark-purple'>Mason Cohen - CEO</span>
          <p class="team-member-description">
            Vibes are the good or bad atmosphere that you sense with a person or in a place.
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <div class="card border-0 mb-3">
        <div class="team-img" style='background-image: url("<%= image_url 'nico.png' %>")'></div>
        <div class="card-body">
          <span class='team-member-name mb-2 dark-purple'>Nico Cohen - President</span>
          <p class="team-member-description">
            Vibes are the good or bad atmosphere that you sense with a person or in a place.
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <div class="card border-0 mb-3">
        <div class="team-img" style='background-image: url("<%= image_url 'adit.png' %>")'></div>
        <div class="card-body">
          <span class='team-member-name mb-2 dark-purple'>Adit Gupta - CTO</span>
          <p class="team-member-description">
            Vibes are the good or bad atmosphere that you sense with a person or in a place.
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <div class="card border-0 mb-3">
        <div class="team-img" style='background-image: url("<%= image_url 'kevin.png' %>")'></div>
        <div class="card-body">
          <span class='team-member-name mb-2 dark-purple'>Kevin Patrick - COO</span>
          <p class="team-member-description">
            Vibes are the good or bad atmosphere that you sense with a person or in a place.
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
