<section class='content rightside-picture vertical-white-to-grey-bg'>
  <div class='row'>
    <div class='order-2 order-lg-1 col-lg-6'>
      <h3 class='title blue'>What is VyB™?</h3>
      <!--<p>-->
        <!--Imagine wanting to watch a movie that you’ve never seen before based solely on a two minute trailer, which is specifically designed to feature the best scenes in the film, in the most flattering light, without the aid of a Rotten Tomatoes rating. Now imagine a bank wanting to assess a loan applicant’s creditworthiness based solely on the biased information provided to the bank by the credit seeker. This would all be like shooting in the dark, especially in today’s information age where we can easily aggregate and substantiate accurate information in a fashion that allows us to see ‘beyond’ the inherently two-dimensional representation set forth by a selfish party.-->
      <!--</p>-->
      <!--<p>-->
        <!--How many <bold>millions</bold> of people around the world make digital connections with others on a daily basis based solely upon the information that was put forth by the party with whom they are seeking to connect? This is also, like ‘shooting in the dark’... Until now.-->
      <!--</p>-->
      <!--<p>-->
        <!--Luckily for anyone seeking to make any type of social connection, born in the digital world, that could someday transition to become real world connection, VyB, inc has created a VyB Score. One’s VyB Score is essentially a FICO score for one’s “social ability”. VyB technology applies a proven algorithm that quantifies the collective sum and average “Personality Vibe” that one emits as perceived by others with whom they have shared a proven, prior digital introduction to. Once the VyB “Blockchain” establishes that a third party rating is legitimate, and was in fact the result of a true interpersonal interaction, that proven rating is then allowed to factor into one’s incorruptible, transparent and unbiased VyB Score.-->
      <!--</p>-->
      <!--<p>-->
        <!--This VyB Score will be published openly across all forms of social media and dating sites of all sorts for use as a tool that will allow a fair and unbiased assessment of someone’s personality, likeability and overall ‘VyB’. Our wholly owned, proprietary technology is designed to inherently disallow personal appearance, social status, professional achievements, income bracket and other personal attributes from impacting one’s VyB Score.-->
      <!--</p>-->
      <!--<p>-->
        <!--One’s VyB Score cannot be corrupted by biased parties, as we’ve seen too often with other ‘review websites and platforms’. VyB disallows a rating to be submitted without a proven, previously established digital connection followed by a real world, in person interaction. Just like one cannot rate an Uber Driver that has not given them a ride, one cannot submit a ‘VyB rating’ without having actually met someone digitally prior to a first live meeting.-->
      <!--</p>-->
      <!--<p>-->
        <!--VyB technology leverages the Blockchain to achieve the highest possible level of systemic transparency and incorruptibility. By leveraging the Blockchain, VyB vetted interactions automatically generate a permanent record thus creating a distributed ledger of all changes to all VyB Scores globally and by default alleviating the possibility of inaccuracy or nefarious manipulation-->
      <!--</p>-->
      <!--<p>-->
        <!--Additionally, by leveraging the Blockchain, VyB is able to ensure platform-wide data congruence and subsequently achieve accuracy and cohesiveness in real time.-->
      <!--</p>-->
      <p>
        VyB™ is a platform that holds people accountable for the way they treat others. Simply put, VyB™ can be thought of as a credit score of your social vibe.
        Built through the blockchain, one’s VyB™ score is incorruptible, completely transparent, and represents one’s true social nature. Just as a credit score represents one’s financial accountability, one’s VyB™ score represents one’s social accountability.
        Your VyB™ score bridges the gap between the digital world and the real world.
      </p>
      <p>
        VyB™ technology leverages the Blockchain to achieve the highest possible level of systemic transparency and incorruptibility. By leveraging the Blockchain, VyB™ vetted interactions automatically generate a permanent record thus creating a distributed ledger of all changes to all VyB™ Scores globally and by default alleviating the possibility of inaccuracy or nefarious manipulation
      </p>
      <p>
        One’s  VyB™ Score cannot be corrupted by biased parties, as we’ve seen too often with other ‘review websites and platforms’. VyB™ disallows a rating to be submitted without a proven, previously established digital connection followed by a real world, in person interaction. Just like one cannot rate an Uber Driver that has not given them a ride, one cannot submit a ‘VyB rating’ without having actually met someone digitally prior to a first live meeting.
      </p>
      <h4 class='title purple'>Ready to find out what's your VyB™?</h4>

      <!--<p class='turquoise thick-text'>-->
        <!--<%= link_to 'http://www.manestreem.com', target: :_blank, class: 'turquoise' do %>-->
          <!--Learn more about ManeStreem <i class='ion-arrow-right-c'></i>-->
        <!--<% end %>-->
      <!--</p>-->
      
    </div>
    <div class='order-1 order-lg-2 col-lg-6 mb-4 d-flex justify-content-center'>
      <div class="image reveal-card-right">
        <%= image_tag 'phone.png' %>
      </div>
    </div>
  </div>
</section>