<section class='content rightside-picture vertical-white-to-grey-bg'>
  <div class='row'>
    <div class='order-2 order-lg-1 col-lg-6'>
      <h3 class='title blue'>What is Manestreem?</h3>
      <p>
        ManeStreem is the future of holistic health, providing a smart app that lets users book onsite appointments with beauticians, stylists, and other wellness providers. We make it easy for men and women to look and feel their best while staying on budget.
      </p>
      <p>
        We worked to solve the challenging task of finding the right stylist or experience when you’re new to an area, need new care, or have a special event that you’re not sure how to prepare for next. With portfolios, bios, and reviews, you get a curated list of experts who are willing to come to you to work their magic.
      </p>

      <p class='turquoise thick-text'>
        <%= link_to 'http://www.manestreem.com', target: :_blank, class: 'turquoise' do %>
          Learn more about ManeStreem <i class='ion-arrow-right-c'></i>
        <% end %>
      </p>
    </div>
    <div class='order-1 order-lg-2 col-lg-6 mb-4 d-flex justify-content-center'>
      <div class="image reveal-card-right">
        <%= image_tag 'phone.png' %>
      </div>
    </div>
  </div>
</section>
