<div class="title-bar why-blockchain">
  <h3 class='title white'>Why blockchain? </h3>
</div>

<section class='content rightside-picture white-bg'>
  <div class='row'>
    <div class='col-lg-6'>
      <h3 class='title blue'>Maintain independence, honesty & authority</h3>
      <p>
        Unlike others in the beauty space, we’re relying on blockchain to create a service that’s completely independent and fair for our users. They can pick their preferred professionals, leave honest reviews, and share photos of successes. Blockchain ensures that only those who have paid for and received a service can leave a review, so our system has trust built into its core.
      </p>
      <p>
        Plus, we will incentivize honest reviews by rewarding customers with tokens when they rate their service no matter the outcome. Verified reviews with options for photo evidence will help us curate a service that only grows more reliable and enticing over time.
      </p>
    </div>
    <div class='col-lg-6 mb-4 d-flex justify-content-center'>
      <div class="videoWrapper lift-shadow">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/JTiwRat61B4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>

<section class='content leftside-picture gray-bg'>
  <div class='row'>
    <div class='order-2 order-lg-1 col-lg-6 mb-4 d-flex justify-content-center '>
      <div class="videoWrapper lift-shadow">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/iLqlgecmjig" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>

    <div class='order-1 order-lg-2 col-lg-6'>
      <h3 class='title dark-purple'>Security & safety for all participants</h3>
      <p>
        The blockchain running behind our app won’t interfere with any of the services or interactions that our customers are familiar with today. Our new solution will work to verify all transactions and create a ledger that links massage therapists with clients and a clear record of who connects when and where.
      </p>
      <p>
        Blockchain data also allows for smarter connections and management, generating more useful recommendations as well. Using ERC-20 compatible tokens means we work with many of today’s leading wallets. Customers and businesses can use the wallets they prefer, making it safe and reliable.
      </p>
    </div>

  </div>
</section>
