<% provide(:ico, "active") %>

<section class="blog-post">
  <h3>Please enter the ETH address you want associated with this account</h3>
  <%= render 'eth_address_form', path: eth_address_form_submit_path %>
</section>
