<% provide(:ico, "active") %>

<section class="blog-post">
  <h3>Please enter the ETH address you will use to buy MANE coins.</h3>
  <%= render 'eth_address_form', path: eth_address_form_submit_path %>
</section>
