<% provide(:page_title, "Dashboard") %>


<div class="p-5 mb-4">
</div>
<div class="row">
	<div class="col-lg-4">
		<div class="card electric-purple-bg mb-3">
			<div class="card-body">
				<h4 class='text-uppercase thin-text faded-blue'>Private Sale</h4>
				<p class='white'>44/200 Spots remaining</p>
				<div class="progress">
				  <div class="progress-bar faded-blue-bg" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
			<div class="card-body dark-blue-bg">
				<span class='faded-blue'><%= session[:random_guests] %> people here now</span>
			</div>
		</div>

		<div class='card shadow-1 mb-4'>
			<div class="card-body pt-2 pb-3">
				<span class="badge badge-primary faded-blue-bg pt-1 pb-1 pl-3 pr-3">Private Sale</span>
				<h4 class='thick-text dark-blue mt-3'>1 ETH = 10,000 MANE</h4>
				<p class='dark-blue'>
					<span class='text-uppercase'>Ends On</span><br>
					<span class='thick-text'>March 13th, 2018</span>
				</p>
			</div>
			<div class="card-body light-gray-bg">
				<p class='dark-blue'>
					<span class='text-uppercase'>Up Next: ICO Presale</span><br>
					<span class='thick-text'>Price will be: 1ETH = 5,000 MANE</span>
				</p>
			</div>
			<div class='card-body electric-purple-bg countdown'>
	      <span class='hours eco-green d-flex justify-content-between'>
	        <div class='days amount'></div>
	        <div class='divider'>:</div>
	        <div class='hours amount'></div>
	        <div class='divider'>:</div>
	        <div class='minutes amount'></div>
	        <div class='divider'>:</div>
	        <div class='seconds amount'></div>
	      </span>
	      <span class='title royal-blue text-uppercase d-flex justify-content-between'>
	        <div>days</div>
	        <div>hrs</div>
	        <div>min</div>
	        <div>sec</div>
	      </span>
	    </div>
		</div>

		<!-- <div class="card dark-blue-bg mb-3">
			<div class="card-body">
				<h4 class='text-uppercase thin-text faded-blue'>Referrals</h4>
				<% if current_user.eth_address.present? %>
					<p class='white'>Referrals are set up!</p>
					<%= link_to "Referral Link", referral_link_path, class: 'btn turquoise-btn btn-block' %>
				<% else %>
					<p class='white'>Tell your friends about ManeCoin and earn bonus tokens!</p>
					<%= link_to "Referrals", referrals_path, class: 'btn turquoise-btn btn-block' %>
				<% end %>
			</div>
		</div> -->
	</div>

	<div class='col-lg-8 justify-content-center'>
  	<div class='card shadow-1 mb-4'>
  		<div class='card-body'>
				<h5 class='thin-text'>Step 1</h5>

				<h4 class='mb-4'>Buy ManeCoin via ETH</h4>

        <div id='ETH'>
          <div class="alert alert-eco-green-border pt-4 d-flex justify-content-start align-items-center" role="alert">

            <div>
              <p><b>
								MANE Crowdsale Address
								<a class="crowdsale-etherscan" href="" target="_blank" >(Verified, Source)</a>
							</b></p>
              <p class='monospace crowdsale-address'>0x6de126fe427b7556328038a400afa99b857760b7</p>

            </div>

          </div>
          <ol>
            <li>Using your <a href='https://themerkle.com/top-5-ethereum-wallets-compatible-with-cryptocurrency-ico-tokens/' target='_blank'>compatible wallet</a>, send ETH to the above MANE Crowdsale Address.</li>
            <li>Wait for transaction verification.</li>
          </ol>
        </div>

			</div>
		</div>

		<div class='card shadow-1 mb-4'>
  		<div class='card-body'>
				<h5 class='thin-text'>Step 2</h5>
				<h4 class='mb-4'>Add the token to your wallet</h4>
  			<p><small>In your prefered Ethereum wallet, add the following token address:</small></p>

        <div class="alert alert-eco-green-border pt-4 d-flex justify-content-start align-items-center" role="alert">

          <div>
            <p><b>
							MANE Coin Address <a class="token-etherscan" href="" target="_blank">(Verified, Source)</a>
						</b></p>
            <p class='monospace token-address'>0xc20fa8213f9055e213ac2bd5d88d450590cc8540</p>
          </div>
        </div>
				<p>
					<b>Step-by-step guide for MyEtherWallet:</b>
				</p>
        <ol>
          <li>
            Click on “Add Custom Token” in the bottom right section of "Token Balances"
          </li>
          <li>
						Address: Copy and paste the above MANE Coin address
					</li>
          <li>
						Token Symbol: MANE
					</li>
          <li>
						Decimals: 18
					</li>
          <li>
						On pressing the "Save" button, you should see your MANE balance updated
					</li>
        </ol>
      </div>
		</div>

	</div>

</div>
