<% provide(:ico, "active") %>

<section class="blog-post">
  <h3>Retrieve your referral link below</h3>
  <p>Please enter ETH address that will receive referral bonus</p>
  <%= render 'eth_address_form', path: retrieve_referral_link_path %>
</section>