.headline-video {
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.headline-image {
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.jumbotron {
  background: rgb(49,27,146); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(49,27,146,0.75) 0%, rgba(33,150,243,0.75) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(49,27,146,0.75) 0%,rgba(33,150,243,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(49,27,146,0.75) 0%,rgba(33,150,243,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#311b92', endColorstr='#2196f3',GradientType=1 ); /* IE6-9 */
  color: white;
  min-height: 100vh;
  padding: 8rem 2rem;
  position: relative;
  h1 {
    margin-top: 20px;
    font-weight: bold;
  }
  .header {
    padding: 30px 0 0 0;
    .btn {
      padding: 10px 20px;
    }
    a {
      i {
        color: white;
        font-size: 20px;
      }
    }
  }
  .social-media-links {
    margin-bottom: 40px;
    a {
      margin-right: 30px;
    }
  }
  .login-box {
    background: transparentize(black, 0.5);
    border-radius: 11px;
    box-shadow:  10px 25px 14px 0px rgba(0,0,0,0.2);
    padding: 15px;
    width: 100%;
    margin-top: 60px;
  }
  .featured-box {
    background: transparentize($dark-blue, 0.2);
    border-radius: 0px;
    // box-shadow:  10px 25px 14px 0px rgba(0,0,0,0.2);
    padding-bottom: 15px;
    width: 100%;
    small {
      font-size: 13px;
      font-weight: 300;
    }
    span {
      display: block;
      padding: 0 30px;
    }
    .main-countdown {
      padding: 10px;
      .rate {
        font-size: 18px;
      }
      .hours {
        font-size: 24px;
        font-weight: bold;
      }
    }
    .top-section {
      background: -webkit-gradient(linear, left top, right top, from(rgba(49, 27, 146, 0.25)), to(rgba(33, 150, 243, 0.5)));
      background: linear-gradient(to right, rgba(49, 27, 146, 0.25) 0%, rgba(33, 150, 243, 0.55) 100%);
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .progress-row {
      background: transparentize(black, 0.7);
      padding: 50px 30px;
      margin: 10px 0;
    }
    .progress {
      background: black;
      border-radius: 10px;
    }
    .progress-bar {
      border-radius: 10px 0 0 10px;
      background: #8bc34a;
      background: -moz-linear-gradient(left, #8bc34a 0%, #4fc3f7 100%);
      background: -webkit-linear-gradient(left, #8bc34a 0%,#4fc3f7 100%);
      background: linear-gradient(to right, #8bc34a 0%,#4fc3f7 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bc34a', endColorstr='#4fc3f7',GradientType=1 );
    }
    .top-pin-container, .bottom-pin-container {
      height: 55px;
      padding-right: 20px;
      position: relative;
      text-align: right;
      width: 40%;
    }
    .bottom-pin-container {
      width: 100%;
    }
    .pin-amount-raised {
      width: 15px;
      position: absolute;
      bottom: 8px;
      right: -8px;
    }
    .pin-total-amount {
      transform: rotate(180deg);
      width: 15px;
      position: absolute;
      top: 8px;
      right: -8px;
    }
  }
}
